nav {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  background-color: cadetblue;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  padding: 0.5rem;
  font-weight: 700;
  color: black !important;
  text-decoration: none !important;
  width: 100%;
  text-align: center;
}

.tab:hover {
  background-color: chartreuse;
  color: black;
}

h1 {
  text-align: center;
}