.cardsContainer {
  display: flex;
  margin-bottom: 1rem;
}

.card {
  flex: 1;
  margin: 0rem 0.5rem;
}

.cardTitle {
  font-weight: 700;
}

.success {
  color: green;
}

.danger {
  color: red;
}

.balanceSuccess {
  background-color: green !important;
  font-weight: 700;
}

.balanceDanger {
  background-color: red !important;
  font-weight: 700;
}
